@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500&family=Lora:ital,wght@1,400;1,500;1,600&family=Poppins:ital,wght@1,300;1,400&family=Roboto:ital,wght@0,400;0,700;1,100;1,400;1,700&family=Varela+Round&display=swap');

*{
    
    box-sizing: border-box;
}
body{
    background-color: #030303;
    font-family: "poppins", sans-serif;
    margin: 0;
}
header{
    background-color: #363636;
    display: flex;
}

h1{
    color: whitesmoke;
    align-items: center;
    margin-left: 28rem;
}

.search{
    margin: 3rem;
    margin-left: 12rem;
    background-color: transparent;
    border: 2px solid #e9c9ec;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
.search::placeholder{
    color: #737Bc5;

}
.search:focus{
    background-color: #050505;
    outline: none;

}
div{
    display: flex;
    flex-wrap: wrap;
}
.movie{
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    justify-content: center;
    align-content: center;
    width: 265px;
}
.movie-info{
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.overview{
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3{
    margin-top: 0;
}

.movie:hover .overview{
    transform: translateY(0);
}